{% extends "base.html" %}
{% block title %}Mods{% endblock %}
{% block content %}
    <div class="dashboard-scrollable-zone dashboard-content mdl-grid">
        <table border="1" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</td>
                    <th class="mdl-data-table__cell--non-numeric">Author</td>
                    <th class="mdl-data-table__cell--non-numeric" colspan="2">Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for mod in mods %}
                    <tr onclick="window.location.href = '{% url "contentdb:mod_view" mod.id %}'" style="cursor: pointer;">
                        <td class="mdl-data-table__cell--non-numeric" style="width: 100%;">
                            {{ mod.name }}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{ mod.user }}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {# <a class="mdl-button mdl-button--icon mdl-button--colored" href="{% url 'contentdb:mod_edit' mod.id %}"> #}
                                <i class="material-icons">edit</i>
                            {# </a> #}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {# <a class="mdl-button mdl-button--icon mdl-color-text--red-800" href="{% url 'contentdb:mod_remove' mod.id %}" onclick="return confirm('Are you sure?');"> #}
                                <i class="material-icons">delete</i>
                            {# </a> #}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" colspan="4">No mods.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
