<a class="mdl-navigation__link" href="{% url 'homepage:home' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
    Home
</a>

<a class="mdl-navigation__link" href="{% url 'contentdb:mod_list' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>
    Mods
</a>

<a class="mdl-navigation__link" href="{% url 'contentdb:texture_pack_list' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>
    Texture packs
</a>
